hosts = 127.0.0.1:389
dn = cn=admin,{{ ldap_suffix.stdout }}
dnpass = secret
sasl_bind = no
auth_bind = yes
auth_bind_userdn = uid=%u,ou=mail,{{ ldap_suffix.stdout }}
base = ou=mail,{{ ldap_suffix.stdout}}
scope = subtree
user_filter = (&(objectClass=inetOrgPerson)(uid=%u))
pass_attrs = uid=user,userPassword=password

