listen=[::0]:{{ item[0] }}
user=smtp
group=smtp

; Daemonize
daemonize=true
daemon_log_file=/var/log/haraka/haraka-{{ item[0] }}.log
daemon_pid_file=/var/run/haraka-{{ item[0] }}.pid

; Spooling
spool_dir=/var/spool/haraka

[headers]
;add_received=true
clean_auth_results=true

; replace max_header_lines
max_lines=1000

; replace max_received_count
max_received=100
