include         /etc/ldap/schema/core.schema
include         /etc/ldap/schema/cosine.schema
include         /etc/ldap/schema/nis.schema
include         /etc/ldap/schema/inetorgperson.schema

pidfile         /var/run/slapd/slapd.pid
argsfile        /var/run/slapd/slapd.args

# Read slapd.conf(5) for possible values
loglevel      stats

modulepath	/usr/lib/ldap
moduleload  back_mdb
sizelimit 500

tool-threads 1

backend	mdb	
database        mdb

suffix          "{{ ldap_suffix.stdout }}"
rootdn          "cn=admin,{{ ldap_suffix.stdout }}"
# Execute
# slappasswd -s password
# rootpw          {SSHA}secret
directory       "/var/lib/ldap"

index objectClass eq
index uid eq,sub
index cn,sn,mail pres,eq,approx,sub

lastmod         on
checkpoint      512 30

access to attrs=userPassword
        by dn="cn=admin,{{ ldap_suffix.stdout }}" read 
        by anonymous auth
        by self write
        by * none

access to dn.base="" by * read

access to *
        by dn="cn=admin,{{ ldap_suffix.stdout }}" write

